<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="p-3 mb-2 bg-info text-dark">
    <strong><u><h3 class="d-flex justify-content-center ">Email de reseteo de contraseña enviado/h3></u></strong>
    <br>
    <div class="d-flex justify-content-center"> 
        <p>Te hemos enviado un email con las intrucciones para establecer tu contraseña, si hay una cuenta con ese email. Deberías recibirlo pronto.<br>Si no lo has recibido, por favor comprueba que el email introducido es con el que estas registrado, y comprueba tu carpeta de spam.</p>
    </div>
    <br>
        <p class = "d-flex justify-content-center"><a href="/authentication/" class="text-dark btn btn-danger ">Regresar</a></p>
</body>