<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="p-3 mb-2 bg-info text-dark">

    <strong><u><h3 class="d-flex justify-content-center ">Formulario de reseteo de contraseña</h3></u></strong>
    <br>
    <h5 class="d-flex justify-content-center">Por fvaor, introduce tu nueva contraseña</h5>
    <br>
    <div class="d-flex justify-content-center"> 
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}                    
            <br>
            <p class = "d-flex justify-content-center">
                <button class="btn btn-success mr-5" type="submit">Resetear contraseña</button>
                <br>
                <a href="/authentication/" class="text-dark btn btn-danger ">Volver atrás</a>
            </p>
        </form>
       
    </div>
</body>