<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="p-3 mb-2 bg-info text-dark">
    <h3 class="d-flex justify-content-center">Reseteo de contraseña</h3><br>
   
    <div class="d-flex justify-content-center"> 
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a class = "d-flex justify-content-center"><input type="submit" class="btn btn-success" id="Send-email" value="Send email"></input></a>
            <br>
            <p class = "d-flex justify-content-center text-dark "><a href="/authentication/" class="text-dark btn btn-danger">Regresar</a>
            {% for message in messages %}
                <p class="item" id="messages">{{ message }}</p>
            {% endfor%}
        </form>
    </div>
</body>