<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body class="p-3 mb-2 bg-info text-dark">
    <strong><u><h3 class="d-flex justify-content-center">Formulario de registro</h3></u></strong>
    <br>
    <div class="d-flex justify-content-center"> 
        <form action="{% url 'registerUser' %}" method="post" > 
            {% csrf_token %}
            {{ form.as_p }}
            <a class = "d-flex justify-content-center">
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            </a>
            <p class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success mr-5" id="Register" value="Register"></input>
                <a href="/authentication/" class="text-dark btn btn-danger ">Regresar</a>
            </p>
        </form>
            {% for message in messages %}
            <p class="item" id="messages">{{ message }}</p>
            {% endfor%}

            {% for error in form.username.errors %}
            <p class=" d-flex justify-content-center bg-danger"></p>
            {% endfor %}

            {% for error in form.first_name.errors %}
            <p class=" d-flex justify-content-center bg-danger"></p>
            {% endfor %}

            {% for error in form.last_name.errors %}
            <p class=" d-flex justify-content-center bg-danger"></p>
            {% endfor %}

            {% for error in form.contact_email.errors %}
            <p class=" d-flex justify-content-center bg-danger"></p>
            {% endfor %}

            {% for error in form.password2.errors %}
            <p class=" d-flex justify-content-center bg-danger"></p>
            {% endfor %}
        </form>
    </div>
    <br>
    <div>
    </div>

</body>